<div class="dialog-content">
    <h2 class="dialog-title">Lost Pet Alerts</h2>
    <p class="dialog-description">
      Receive instant notifications when your pet leaves a designated area. This premium feature helps you keep track of your pet’s safety and well-being.
    </p>
  
    <div class="details-section">
      <h4 class="details-title">Premium Features:</h4>
      <ul>
        <li>Get notified instantly when your pet leaves the designated area.</li>
        <li>Ensure your pet is always within a safe range.</li>
        <li>Peace of mind knowing that you can track your pet's movements.</li>
      </ul>
    </div>
    
    <button mat-button (click)="closeDialog()" class="close-btn">Close</button>

  </div>
  