<div class="dialog-content">
    <h2 class="dialog-title">NFC + GPS Tracking</h2>
    <p class="dialog-description">
      Upgrade to real-time pet tracking with NFC + GPS integration. This premium feature provides an extra layer of security by allowing you to track your pet’s exact location.
    </p>
  
    <div class="details-section">
      <h4 class="details-title">Premium Features:</h4>
      <ul>
        <li>Real-time tracking of your pet’s location.</li>
        <li>Seamless NFC integration for easy scanning.</li>
        <li>GPS tracking for additional peace of mind.</li>
      </ul>
    </div>
    
    <button mat-button (click)="closeDialog()" class="close-btn">Close</button>

  </div>
  