/* General card section styling */
.card-section {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 20px 0;
  padding: 20px;
}



/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
}

.fade-in-scale {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeInScale 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Section titles */
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #212121;
}

/* Colors and spacing */
.intro-section {
  background-color: rgba(116, 117, 117, 0.1);
  padding: 40px;
}


.doggoimage{
  z-index: -1;
  position: relative;
  left: 50%;
  top: 20px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

.how-it-works-section {
  margin-top: 10px;
}

.features-section, .security-section {
  background-color: #7475751a;
}

.cta-section {
  background-color: #007bff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


ion-fab-button {
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

ion-fab-list ion-fab-button {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

ion-fab-button:hover {
  transform: scale(1.1);
}
