<div class="dialog-content">
    <h2 class="dialog-title">QR Code Tag</h2>
    <p class="dialog-description">
      Get a personalized QR code tag for your pet to keep them identifiable. This unique tag helps ensure that your pet can be returned to you safely if they ever get lost.
    </p>
    
    <div class="details-section">
      <h4 class="details-title">Features:</h4>
      <ul>
        <li>Customizable QR code for your pet.</li>
        <li>Easy scanning for identification.</li>
        <li>Durable and weather-resistant material.</li>
      </ul>
    </div>
    
    <button mat-button (click)="closeDialog()" class="close-btn">Close</button>

  </div>
  